<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Compositions

    <a data-toggle="collapse" href="#recipe_compositions_new_form">
      Add composition
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @recipe.compositions.each do |composition| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/compositions/<%= composition.id %>">
          <%= composition.quantity %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_composition_from_recipe/<%= composition.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="recipe_compositions_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
